<template>
  <div class="w-full flex flex-col justify-center items-center dark:bg-gray-900">
    <h1
      class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
    >
      Favorite fruits
    </h1>
    <FavoritesList :favorites="favorites" class="w-full max-w-5xl" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import FavoritesList from '@/components/FavoritesList.vue'
import type { Fruit } from '@/types/types'

export default defineComponent({
  name: 'FavoritesPage',
  components: {
    FavoritesList
  },
  data() {
    return {
      favorites: [] as Fruit[]
    }
  },
  mounted() {
    const storedFavorites = localStorage.getItem('favorites')
    if (storedFavorites) {
      this.favorites = JSON.parse(storedFavorites)
    }
  }
})
</script>
