<template>
  <div class="w-full flex flex-col justify-center items-center dark:bg-gray-900">
    <h1
      class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
    >
      Fruits
    </h1>
    <FruitList class="w-full max-w-5xl" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import FruitList from '@/components/FruitList.vue'

export default defineComponent({
  name: 'FruitListPage',
  components: {
    FruitList
  }
})
</script>
