<!-- Could easily be broken down into more components -->
<template>
  <div class="py-8">
    <ul class="mt-4 flex flex-wrap">
      <li
        v-for="fruit in favorites"
        :key="fruit.id"
        class="min-w-fit bg-white rounded-lg shadow-md p-4 mb-4 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5"
      >
        <h2 class="text-lg font-bold">{{ fruit.name }}</h2>
        <p>Family: {{ fruit.family }}</p>
        <p>Genus: {{ fruit.genus }}</p>
        <p>Order: {{ fruit.fruit_order }}</p>
        <p>Carbohydrates: {{ fruit.carbohydrates }}</p>
        <p>Protein: {{ fruit.protein }}</p>
        <p>Fat: {{ fruit.fat }}</p>
        <p>Calories: {{ fruit.calories }}</p>
        <p>Sugar: {{ fruit.sugar }}</p>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import type { PropType } from 'vue'
import type { Fruit } from '@/types/types'

export default defineComponent({
  name: 'FavoritesList',
  props: {
    favorites: {
      type: Array as PropType<Fruit[]>,
      required: true
    }
  },
  data() {
    return {
      fruits: this.favorites
    }
  }
})
</script>
