<!-- Could easily be broken down into more components -->
<template>
  <div class="py-8">
    <h3 class="text-lg font-bold underline">Fruit Filters</h3>
    <form class="mb-4">
      <label class="block font-bold mb-2">
        Name:
        <input
          type="text"
          v-model="nameFilter"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm"
        />
      </label>
      <label class="block font-bold mb-2">
        Family:
        <input
          type="text"
          v-model="familyFilter"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm"
        />
      </label>
    </form>
    <button
      @click="clearFilters"
      class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded"
    >
      Clear filters
    </button>
    <ul class="mt-4 flex flex-wrap">
      <li
        v-for="fruit in filteredFruits"
        :key="fruit.id"
        class="min-w-fit bg-white rounded-lg shadow-md p-4 mb-4 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5"
      >
        <h2 class="text-lg font-bold">{{ fruit.name }}</h2>
        <p>Family: {{ fruit.family }}</p>
        <p>Genus: {{ fruit.genus }}</p>
        <p>Order: {{ fruit.fruit_order }}</p>
        <p>Carbohydrates: {{ fruit.carbohydrates }}</p>
        <p>Protein: {{ fruit.protein }}</p>
        <p>Fat: {{ fruit.fat }}</p>
        <p>Calories: {{ fruit.calories }}</p>
        <p>Sugar: {{ fruit.sugar }}</p>
        <button
          @click="addToFavorites(fruit)"
          :disabled="favorites.length > 10"
          :class="{
            'opacity-50 cursor-not-allowed': favorites.length == 10 && !isFavorited(fruit),
            'bg-blue-500 hover:bg-blue-700': !isFavorited(fruit),
            'bg-red-500 hover:bg-red-700': isFavorited(fruit)
          }"
          class="text-white font-bold py-2 px-1 rounded mt-4"
        >
          {{ isFavorited(fruit) ? 'Remove from favorites' : 'Add to favorites' }}
        </button>
      </li>
    </ul>
    <div class="flex justify-center mt-4" v-if="filteredFruits.length > 0">
      <button
        @click="currentPage--"
        :disabled="currentPage === 1"
        :class="{ 'opacity-50 cursor-not-allowed': currentPage === 1 }"
        class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded mr-2"
      >
        Previous
      </button>
      <button
        @click="currentPage++"
        :disabled="currentPage === totalPage"
        :class="{ 'opacity-50 cursor-not-allowed': currentPage === totalPage }"
        class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded"
      >
        Next
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import type { Fruit } from '@/types/types'

export default defineComponent({
  name: 'FruitListPage',
  data() {
    return {
      fruits: [] as Fruit[],
      nameFilter: '',
      familyFilter: '',
      favorites: [] as Fruit[],
      currentPage: 1,
      fruitsPerPage: 10
    }
  },
  mounted() {
    // Fetch the fruits data from the API
    fetch('http://127.0.0.1:8000/api/getFruits')
      .then((response) => response.json())
      .then((data) => {
        this.fruits = data
      })

    // Load the favorites from the local storage
    const storedFavorites = localStorage.getItem('favorites')
    if (storedFavorites) {
      this.favorites = JSON.parse(storedFavorites)
    }

    // Store the favorites in the local storage when the window is about to be unloaded
    window.addEventListener('beforeunload', () => {
      localStorage.setItem('favorites', JSON.stringify(this.favorites))
    })
  },
  computed: {
    filteredFruits(): Fruit[] {
      const start = (this.currentPage - 1) * this.fruitsPerPage
      const end = start + this.fruitsPerPage
      return this.fruits
        .filter(
          (fruit) =>
            fruit.name.toLowerCase().includes(this.nameFilter.toLowerCase()) &&
            fruit.family.toLowerCase().includes(this.familyFilter.toLowerCase())
        )
        .slice(start, end)
    },
    totalPage(): number {
      const filteredFruits = this.fruits.filter(
        (fruit) =>
          fruit.name.toLowerCase().includes(this.nameFilter.toLowerCase()) &&
          fruit.family.toLowerCase().includes(this.familyFilter.toLowerCase())
      )
      return Math.ceil(filteredFruits.length / this.fruitsPerPage)
    },
    isFavorited(): (fruit: Fruit) => boolean {
      return (fruit: Fruit) => this.favorites.some((f) => f.id === fruit.id)
    }
  },
  methods: {
    addToFavorites(fruit: Fruit) {
      if (this.favorites.length == 10 || this.isFavorited(fruit)) {
        this.removeFromFavorites(fruit)
      } else {
        this.favorites.push(fruit)
        localStorage.setItem('favorites', JSON.stringify(this.favorites))
      }
    },
    removeFromFavorites(fruit: Fruit) {
      const index = this.favorites.findIndex((f) => f.id === fruit.id)
      if (index !== -1) {
        this.favorites.splice(index, 1)
        localStorage.setItem('favorites', JSON.stringify(this.favorites))
      }
    },
    clearFilters() {
      this.nameFilter = ''
      this.familyFilter = ''
    }
  }
})
</script>
