<template>
  <div class="flex flex-col lg:flex-row h-screen">
    <div class="bg-gray-800 py-4 px-6 w-full lg:w-64 mb-4">
      <RouterLink
        to="/"
        class="block my-2 hover:text-white hover:bg-blue-500 hover:border-transparent rounded-md px-2 py-1 text-blue-500 font-bold text-lg"
        >Home</RouterLink
      >
      <RouterLink
        to="/favorites"
        class="block my-2 hover:text-white hover:bg-blue-500 hover:border-transparent rounded-md px-2 py-1 text-blue-500 font-bold text-lg"
        >Favorites</RouterLink
      >
    </div>
    <div class="mx-4 flex-grow">
      <RouterView />
    </div>
  </div>
</template>

<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
</script>
